@import "./reset.css";

body {
  background-image: url(../assets/green-bg.png);
}
.page-container {
  background-image: url(../assets/snow-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  section {
    &.header {
      text-align: center;
      font-style: normal;
      font-family: Roboto;
      font-feature-settings: "cpsp" on;
      img.star {
        margin-bottom: 8px;
      }
      h2 {
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 2.4px;
        color: #eacb5f;
        line-height: 140%;
        margin: 4px 0px;
      }
      h1 {
        font-weight: bold;
        font-size: 36px;
        letter-spacing: 3.6px;
        color: #e7c039;
        margin: 4px 0px;
      }
    }
  }
}
